ul.credit-options li {display : inline-block; margin: 10px; text-align: center; }
ul.help-links { margin-left: 20px; }
ul.help-links li { list-style-type: none; }

span.warning { color: #bd3415; }

span.buy { display:block;  font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #000000;padding: 20px 30px;
background: -moz-linear-gradient(top,#ffcf33 0%,#ffcf33);
background: -webkit-gradient(linear, left top, left bottom,from(#ffcf33),to(#ffcf33)); 
-moz-border-radius: 20px; 
-webkit-border-radius: 20px; 
border-radius: 20px; border: 1px solid #e3b51d; 
-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.2),inset 0px 1px 0px rgba(255,255,255,0.7);
-webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.2),inset 0px 1px 0px rgba(255,255,255,0.7);
box-shadow: 0px 1px 3px rgba(000,000,000,0.2),inset 0px 1px 0px rgba(255,255,255,0.7);
text-shadow:0px -1px 1px rgba(000,000,000,0.2),0px 1px 0px rgba(255,255,255,0.3);
cursor : pointer
}

.check {        
        background-color:#d0451b;
        -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
        -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
        box-shadow:inset 0px 1px 0px 0px #cf866c;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
        background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
        background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
        background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
        background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
        background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        border:1px solid #942911;
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:13px;
        font-weight:normal;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #854629;
    }
    
.check:hover {
		color: #ffd859;
        background-color:#bc3315;        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
        background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
        background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
        background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
        background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
        background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    }

.check:active {
        position:relative;
        top:1px;
}
